
\.idea/workspace\.xml
*.bin
*.lock
*.class
*.jar
*.properties
*.xml
*.iml
*.dll
.wpilib/wpilib_preferences.json
*.debug
*.so
*.MF
*.4
build/debug/debuginfo.json
.vscode/settings.json
.vscode/launch.json
