
\.idea/workspace\.xml
*.bin
*.lock
*.class
*.xml
*.iml
*.dll
.wpilib/wpilib_preferences.json
*.debug
*.so
*.MF
*.4
build/debug/debuginfo.json
.vscode/settings.json
.vscode/launch.json
build/libs/2019BaseProject.jar
build/libs/Swerve-Base_Gradle.jar
.gradle/vcs-1/gc.properties
.gradle/buildOutputCleanup/cache.properties
.gradle/5.0/gc.properties
.project
.settings/org.eclipse.buildship.core.prefs
